input.ng-touched.ng-invalid {
  border-left: solid 5px #a94442 !important ;
}
input.ng-valid {
  border-left: solid 5px #5cb85c !important;
}

.form-control:focus{
    border:1px solid #ccc;
    box-shadow:none;
}
