<div class="form-group" style="position: relative;" *ngIf="RandomProducts != []">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" *ngFor="let x of RandomProducts;let i = index" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div *ngFor="let j of RandomProducts; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'">
                <img style="margin: 0 auto;" src={{RandomProducts[k].Image}} alt="Event Image">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="form-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>Featured Products</span>
        </div>

        <div class="panel-body" style="text-align:center">

            <ul class="list-inline list-unstyled v-center">
                <li class="" *ngFor="let item of FeaturedProducts">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <a href="#">{{item.Product}}</a>
                        </div>
                        <div class="panel-body">
                            <img src="{{item.Image}}" class="img-responsive" style="width:50%; margin:0 auto" />
                        </div>
                    </div>

                </li>
            </ul>
        </div>


    </div>
</div>
