<div class="navbar navbar-inverse navbar-top">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="Home"><img src="../../Content/Images/Logo.png" style="width:64px;" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#categories">
                        Categories <span class="caret"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Login">Log In</a></li>
                <li><a href="Register">Register</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="categories" class="collapse" ng-include="'/Views/categories.html'">
</div>