<div class="row" ng-controller="AdminController">
    <loading></loading>
    <div class="bs-example marginTop50" data-example-id="table-within-panel">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in Categories">
                        <th scope="row">
                            {{cat.ID}}
                        </th>
                        <td>
                            <span ng-show="cat.showEdit">{{cat.Category}}</span>
                            <input ng-show="!cat.showEdit" type="text" ng-model="cat.Category" class="form-control">
                        </td>
                        <td>
                            <span ng-show="cat.showEdit">{{cat.Description}}</span>
                            <input ng-show="!cat.showEdit" type="text" ng-model="cat.Description" class="form-control">
                        </td>
                        <td>
                            <a href="#" ng-show="cat.showEdit" ng-click="toggleEdit(cat)"><i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i></a>
                            <a href="#" ng-show="!cat.showEdit" ng-click="SaveEdit(cat)"><i class="fa fa-floppy-o" aria-hidden="true"> Save</i></a>
                            <a href="#" ng-show="!cat.showEdit" ng-click="CancelEdit(cat)"><i class="fa fa-times" aria-hidden="true"> Cancel</i></a>
                            <!--<i ng-show="cat.showEdit" ng-click="toggleEdit(cat)" class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
                            <!--<i ng-show="!cat.showEdit" ng-click="SaveEdit(cat)" class="fa fa-floppy-o" aria-hidden="true"></i>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-success text-center form-group center-block" ng-show="UpdateSuccess">
                    <p>Update Successful!</p>
                </div>
                <div class="alert alert-danger text-center form-group center-block" ng-show="UpdateFail">
                    <p>{{registerErrorMsg}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-6 col-sm-offset-3">
        <button name="Category-Add" id="Category-Add" ng-click="btnAddCategoryClick()" class="form-control btn-success center-block" value="Add">Add <i class="fa fa-spinner fa-spin" ng-show="loading"></i></button>
    </div>-->
</div>


