<div class="panel panel-success cart-summary" *ngFor="let p of products let i=index">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>{{p.name}}</strong></div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-left cart-item-img">
                        <div>
                            <img src="{{'https://placehold.it/150x80?text='+p.name}}" class="img-responsive" />
                        </div>
                    </td>
                    <td class="cart-item-description">
                        <div>
                            <ul class="list-unstyled">
                                <li class="wrap-text">
                                    {{p.description}}
                                </li>
                                <li class="text-info">
                                    <strong> {{p.price | currency:'USD':true:'1.2-2'}}</strong>
                                </li>
                                <li>
                                    <div>
                                        <ul class="list-inline">
                                            <li>
                                                <input class="input-sm" #quntity="ngModel" type="number" [(ngModel)]="p.quantity" />
                                            </li>
                                            <li><button class="btn btn-danger btn-sm">Delete</button></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <button name="btnUpdate-{{i}}" class="btn btn-success btn-sm" [class.hidden]="!quntity.dirty" >Update</button>
                                </li>
                            </ul>
                        </div>
                    </td>                  
                </tr>
            </tbody>
        </table>
    </div>

    


</div>
<div class="row">
    <div class="col-sm-10"> 
        <button class="btn btn-primary pull-left btn-lg"><i class="fa fa-arrow-left"></i> Continue Shoping <i class="fa fa-shopping-cart"></i></button>
        <button class="btn btn-success pull-right btn-lg">Checkout <i class="fa fa-credit-card"></i></button>

    </div>
</div>