<div class="container" *ngIf="products && products.length>0">
    <section id="row">
        <div class="col-md-6 text-center" >
            <img src="{{products[0].Image}}" class="img-responsive" style="width:70%;" />
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{products[0].Product}}</h1>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-md-12">
                    <p class="description">{{products[0].Description}}</p>
                </div>
            </div>-->

            <div class="row" *ngIf="false"> //Defaulted to false as we dont have rating system yet
                <div class="col-md-3">
                    <span class="sr-only">Four out of Five Stars</span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="label label-success">61</span>
                </div>
                <div class="col-md-3">
                    <a href="#">Write a review</a>
                </div>
            </div>
            <div class="row" *ngIf ="true">
                <div class="col-md-6">
                    <p>No Reviews for this product yet</p>
                </div>
            </div>

            <div class="row" style="padding-bottom:5%">
                <div class="col-md-12" style="border-bottom: 1px solid #ccc;">
                    <h2>${{products[0].Cost}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 product-qty" style="padding-bottom:5%">
                    <span class="btn btn-danger btn-sm btn-qty">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                    <!--<input class="btn btn-default btn-sm btn-qty" value="1" style="width:25%" />-->
                    <input class="input-mini text-center" style="width:25%" #Productquantity="ngModel" type="number" ngModel="1" />
                    <span class="btn btn-success btn-sm btn-qty">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-md-4" style="padding-bottom:5%">
                    <button [disabled]="Productquantity.value<=0" (click)="onAddToCartClick(products[0])" class="btn btn-sm btn-success btn-full-width">
                        Add to Cart
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </div>
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#description"
                       aria-controls="description"
                       role="tab"
                       data-toggle="tab">Description</a>
                </li>
                <li role="presentation">
                    <a href="#reviews"
                       aria-controls="reviews"
                       role="tab"
                       data-toggle="tab">Reviews</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                    <br />
                    <b>{{products[0].Description}}</b>
                </div>
                <div role="tabpanel" class="tab-pane" id="reviews">
                    <br />
                    <b>Reviews Not Impleted yet.</b>
                </div>
            </div>

        </div>
    </section>
</div>