<div class="row" *ngIf="products && products.length>0">
    <h2 class="text-primary text-center">
        {{products[0].SubCategory}}
        <br />
    </h2>
</div>
<div class="row">
    <div class="col-sm-3 col-xs-6" *ngFor="let product of products" style="border:solid 1px lightgray">
            <div class="text-center" style="padding:5px">
                <a href="/product-details/{{product.ID}}"><strong class="text-info">{{product.Product}}</strong></a>
                <div>
                    <img *ngIf="!product.Image" src="{{'https://placehold.it/300x300?text='+product.Product}}" class="img-responsive" style="margin:0 auto" />
                    <img *ngIf="product.Image" src="{{product.Image}}" alt="{{product.Product}}" class="img-responsive" style="margin: 0 auto" />
                </div>
                <div>
                    <ul class="list-unstyled">
                        <li>{{product.Description}}</li>
                        <li><strong class="text-info">{{product.Cost | currency:'USD':true:'1.2-2'}}</strong></li>
                        <li>
                            <label>Qty: </label> <input class="input-mini" style="width:50px" #quant="ngModel" type="number" ngModel="1" />
                        </li>
                    </ul>
                    <div>
                        <button [disabled]="quant.value<=0" class="btn btn-success" (click)="onAddToCartClick(product)">Add to cart <i class="fa fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
    </div>
</div>


