<div class="panel-group overlay-content" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Departments
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel-group" id="nested">
                    <ng-container *ngFor="let cat of categories let i=index">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="collapsed" data-parent="#nested" href="#nested-collapse{{i}}">
                                        {{cat.Category}}
                                    </a>
                                </h4>
                            </div>

                            <div id="nested-collapse{{i}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <ng-container *ngFor="let subcat of cat.SubCategoriesList">
                                            <li><a (click)="menuClick('products',subcat.ID)">{{subcat.SubCategory}}</a></li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne">
                    <i class="fa fa-user-circle"></i> Account
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li *ngIf="!IsLoggedIn"><a (click)="menuClick('login')">Login</a></li>
                    <li *ngIf="IsLoggedIn"><a (click)="menuClick('logout')" >Logout</a></li>
                    <li><a (click)="menuClick()">Forgot password</a></li>
                    <li *ngIf="!IsLoggedIn"><a (click)="menuClick('register')">Register</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>

