body .navbar-inverse {
  background-color: #5cb85c;
  border: none;
}
body .navbar-inverse .navbar-nav > li a {
  color: #fff;
  font-size: medium;
  font-weight: bold;
}
body .navbar-inverse .navbar-header {
  padding-right: 10px;
}
body input.submitted.ng-invalid {
  border: 1px solid #f00;
}
body .field-validation-error {
  color: #f00;
  padding-left: 4px;
  width: inherit;
}