body {
  width: 100%;
}
body input.submitted.ng-invalid {
  border: 1px solid #f00;
}
body footer {
  width: inherit;
}
body .field-validation-error {
  color: #f00;
  padding-left: 4px;
  width: inherit;
  position: relative;
}
body .field-validation-error:before {
  /* content: "\f06a";*/
  content: '\f12a';
  font-family: FontAwesome;
  margin-right: 2px;
}
body .alert-success {
  position: relative;
}
body .alert-success:before {
  content: '\f046';
  font-family: FontAwesome;
}
body .alert-danger {
  position: relative;
}
body .alert-danger:before {
  content: '\f071';
  font-family: FontAwesome;
}
body .loading {
  pointer-events: none;
}
body .inline-list {
  display: inline;
}
body .btn-cart {
  width: 45px;
  padding: 0;
  border-radius: 50%;
  margin: 0 150px;
  color: #5cb85c;
  background: #fff;
  border: none;
}
body .btn-cart .badge {
  margin-top: -20px;
  color: #222;
  background: #5cb85c;
  border: solid 1px #fff;
}
body .btn-cart i {
  margin-top: -20px;
}
body .btn:hover,
body button:hover {
  background-color: #3e8e41;
}