<div class="" *ngIf="ShowUpdate">
    <h4>Edit Existing Product</h4>

    <div>
        <select class="form-control breadcrumb" (change)="onCategorySelect($event.target.value)">
            <option value="-1">--Select a Category--</option>
            <option *ngFor="let cat of categories" [selected]="seloption ==cat.ID" value="{{cat.ID}}">{{cat.Category}}</option>
        </select>
    </div>

    <div *ngIf="ShowSubCategories">
        <select class="form-control breadcrumb" (change)="onSubCategorySelect($event.target.value)">
            <option value="-1">--Select a Sub Category--</option>
            <option *ngFor="let SubCat of subCategoriesByID" [selected]="seloption ==SubCat.ID" value="{{SubCat.ID}}">{{SubCat.SubCategory}}</option>
        </select>
    </div>

    <div class="panel panel-default" *ngIf="ShowUpdateProducts">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Cost</th>
                    <th>SubCategory</th>
                    <th>Is Available</th>
                    <th>
                        <span><i class="fa fa-cog" aria-hidden="true"></i></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Product of ProductsBySubcategory">
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.Product}}</span>
                        <input *ngIf="!Product.showEdit" type="text" [(ngModel)]="Product.Product" class="form-control">
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.Description}}</span>
                        <input *ngIf="!Product.showEdit" type="text" [(ngModel)]="Product.Description" class="form-control">
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit"><img src="{{Product.Image}}" alt="{{Product.Product}}" /></span>
                        <span *ngIf="!Product.showEdit">
                            <img [src]="src" [hidden]="!src"><br>
                            <input type="file" name="Image" ngModel imageUpload
                                   (imageSelected)="selected($event)"
                                   [resizeOptions]="resizeOptions">
                        </span>
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit">$ {{Product.Cost}}</span>
                        <input *ngIf="!Product.showEdit" type="text" [(ngModel)]="Product.Cost" class="form-control">
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.SubCategory}}</span>
                        <span *ngIf="!Product.showEdit">
                            <select class="breadcrumb" [(ngModel)]="Product.SubcategoryID">
                                <option value="-1"></option>
                                <option *ngFor="let SubCat of subCategoriesByID" [value]="SubCat.SubCategoryID">{{SubCat.SubCategory}}</option>
                                
                            </select>
                        </span>
                        </td>
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.IsAvailable}}</span>
                        <span *ngIf="!Product.showEdit">
                            <select class="breadcrumb" [(ngModel)]="Product.IsAvailable">
                                <option value="-1"> </option>
                                <option [value]="true">Yes</option>
                                <option [value]="false">No</option>
                            </select>
                        </span>
                    </td>
                    <td>
                        <button *ngIf="Product.showEdit" (click)="toggleEdit(Product)" value="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button *ngIf="!Product.showEdit" (click)="SaveEdit(Product)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        <button *ngIf="!Product.showEdit" (click)="CancelEdit(Product)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
