<div *ngIf="ShowUpdate">
    <div class="form-group">
        <h4>Edit Existing Product</h4>
        <select class="form-control" (change)="onCategorySelect($event.target.value)">
            <option value="-1">--Select a Category--</option>
            <option *ngFor="let cat of categories" [selected]="SelCategoryoption ==cat.ID" value="{{cat.ID}}">{{cat.Category}}</option>
        </select>
    </div>
    <div class="form-group">
        <div *ngIf="ShowSubCategories">
            <select class="form-control" (change)="onSubCategorySelect($event.target.value)">
                <option value="-1">--Select a Sub Category--</option>
                <option *ngFor="let SubCat of subCategoriesByID" [selected]="SelSubCategoryOption ==SubCat.ID" value="{{SubCat.ID}}">{{SubCat.SubCategory}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button *ngIf="ShowUpdateProducts" class="form-control btn btn-success" (click)="AddNewProduct()">Add New Product</button>
    </div>

    <div class="form-group table-responsive" *ngIf="ShowUpdateProducts">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Cost</th>
                    <th>SubCategory</th>
                    <th>Is Available</th>
                    <th>
                        <span><i class="fa fa-cog" aria-hidden="true"></i></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Product of ProductsBySubcategory">
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.Product}}</span>
                        <input *ngIf="!Product.showEdit" type="text" [(ngModel)]="Product.Product" class="form-control">
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.Description}}</span>
                        <input *ngIf="!Product.showEdit" type="text" [(ngModel)]="Product.Description" class="form-control">
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit"><img class="img-responsive" style="width:50%" src="{{Product.Image}}" alt="{{Product.Product}}" /></span>
                        <span *ngIf="!Product.showEdit">
                            <img class="img-responsive" [src]="src" [hidden]="!src"><br>
                            <input class="form-control " type="file" name="Image" ngModel imageUpload
                                   (imageSelected)="selected($event)"
                                   [resizeOptions]="resizeOptions">
                        </span>
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit">$ {{Product.Cost}}</span>
                        <input *ngIf="!Product.showEdit" type="text" [(ngModel)]="Product.Cost" class="form-control">
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.SubCategory}}</span>
                        <span *ngIf="!Product.showEdit">
                            <select [(ngModel)]="Product.SubcategoryID">
                                <option value="-1"></option>
                                <option *ngFor="let SubCat of subCategoriesByID" [value]="SubCat.SubCategoryID">{{SubCat.SubCategory}}</option>

                            </select>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="Product.showEdit">{{Product.IsAvailable}}</span>
                        <span *ngIf="!Product.showEdit">
                            <select class="selectpicker" [(ngModel)]="Product.IsAvailable">
                                <option value="-1"> </option>
                                <option [value]="true">Yes</option>
                                <option [value]="false">No</option>
                            </select>
                        </span>
                    </td>
                    <td>
                        <button *ngIf="Product.showEdit" (click)="toggleEdit(Product)" value="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button *ngIf="!Product.showEdit" (click)="SaveEdit(Product)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        <button *ngIf="!Product.showEdit" (click)="CancelEdit(Product)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="!ShowUpdate">
    <div class="form-group">
        <button class="btn btn-primary" (click)="BackToUpdateProducts()"><i class="fa fa-arrow-left"></i> Back To Update Products</button>
    </div>
    <br />
    <br />
    <h3>Add Product</h3>
    <form #AddProductForm="ngForm" (ngSubmit)="Add(AddProductForm.value)">
        <div class="form-group">
            <input type="text" name="Product" ngModel required class="form-control" placeholder="Product">
        </div>
        <div class="form-group">
            <input type="text" name="Description" ngModel required class="form-control" placeholder="Product Description">
        </div>
        <div class="form-group">
            <select required class="form-control" (change)="onCategorySelect($event.target.value)">
                <option value="-1">--Select a Category--</option>
                <option *ngFor="let cat of categories" [selected]="seloption ==cat.ID" value="{{cat.ID}}">{{cat.Category}}</option>
            </select>
        </div>
        <div class="form-group">
            <select required class="form-control" [(ngModel)]="ProductsBySubcategory.SubCategoryID" name="SubCategoryID" ngModel>
                <option [value]="-1" selected="selected">---Select a Sub category---</option>
                <option *ngFor="let SubCat of subCategoriesByID" [value]="SubCat.ID">{{SubCat.SubCategory}}</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="Cost" ngModel required class="form-control" placeholder="Product Cost">
        </div>
        <div class="form-group">
            <select required class="form-control selectpicker" [(ngModel)]="ProductsBySubcategory.IsAvailable" name="IsAvailable" ngModel>
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
            </select>
        </div>
        <div class="form-group">
            <img [src]="src" [hidden]="!src"><br>
            <input type="file" name="Image" ngModel imageUpload
                   (imageSelected)="selected($event)"
                   [resizeOptions]="resizeOptions">
        </div>
        <button type="submit" class="btn btn-primary col-xs-6 col-xs-offset-3">Submit</button>
    </form>
</div>

<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-success text-center form-group center-block" dismiss *ngIf="updateSuccess">
        <p>Update Successful!</p>
    </div>
    <div class="alert alert-danger text-center form-group center-block" *ngIf="updateFail">
        <p>Update Failed</p>
    </div>
</div>
