<div class="container-fluid">
    <div class="row">
        <div class="pull-left">
            <a [routerLink]="['home']">
                <img src="../assets/images/Logo.png" style="max-width:100px;" class="img-responsive" />
            </a>
        </div>

       <h1 class="text-center header-logo-text"><strong>Daily At Home</strong></h1>
    </div>

    <div class="row bg-dark text-white">
        <div class="col-md-12 col-xs-12">
            <!--<div class="col-md-1 col-xs-2">
                <a [routerLink]="['home']">
                    <img src="../assets/images/Logo.png" style="max-width:60px" class="img-responsive" />
                </a>
            </div>-->
            <div class="col-md-10 col-xs-7">
                <button style="border:none; background:none; color:#fff; padding:5px 0" class="btn btn-lg">
                    <i class="fa fa-bars fa-2x" aria-hidden="true" (click)="openNav()"></i>
                </button>
                Menu
            </div>
            <div class="col-md-2 col-xs-5" style="color:#fff">
                <ul class="list-unstyled list-inline" style="margin-right:-25px;">
                    <li *ngIf="IsLoggedIn"><a [routerLink]="['logout']" style="color:#fff"><i class="fa fa-user"></i> Logout</a></li>
                    <li *ngIf="!IsLoggedIn"><a [routerLink]="['login']" style="color:#fff"><i class="fa fa-user"></i> Login</a></li>
                    <li>
                        <cart></cart>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row bg-dark">
        <search></search>
    </div>




    <div class="container">
        <div class="row">
            <div class="overlay" [ngClass]="{'col-md-3 col-xs-9':opened,'no-width':!opened}">
                <button class="pull-right" style="border:none;background:none" (click)="closeNav()">
                    <i class="fa fa-times fa-2x"></i>
                </button>
                <dah-header (someEvent)="menuClick($event)"></dah-header>
            </div>
            <div class="col-sm-12 col-md-12 app-body" (click)="closeNav()" #loadingModal>
                <router-outlet>
                </router-outlet>
                <spinner [class.hidden]="!displaySpinner"></spinner>
            </div>
        </div>
    </div>
</div>


