<div class="container">
    <div class="row" style="background:#337ab7">
        <div class="col-md-9 col-sm-9 col-xs-9">
            <h2>
                <button style="border:none; background:none">
                    <i class="fa fa-bars" aria-hidden="true" (click)="openNav()"></i>
                </button>
                Daily At Home
            </h2>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top:30px;">
            <cart></cart>
        </div>
    </div>
    <div class="row">

        <div class="overlay" [ngClass]="{'col-md-3 col-xs-9':opened,'no-width':!opened}">
            <button class="pull-right" (click)="closeNav()">
                <i class="fa fa-times text-danger"></i>
            </button>
            <dah-header (someEvent)="menuClick($event)"></dah-header>
        </div>
        <div class="col-sm-9 col-md-9 app-body" (click)="closeNav()" [ngClass]="{'col-md-12':!mobileView,'col-md-9':mobileView}">
            <router-outlet>
            </router-outlet>
            <spinner [class.hidden]="!displaySpinner"></spinner>
        </div>
    </div>
</div>