<div ng-controller="HeaderController" class="navbar-inverse">
    <div class="navbar-collapse collapse" ng-repeat="item in Categories">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#" data-toggle="collapse" data-target="#SubCategories-{{item.ID}}">
                    {{item.Category}} <span class="fa fa-caret-right"></span>
                </a>
            </li>
        </ul>
        <div id="SubCategories-{{item.ID}}" class="collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a data-toggle="collapse" data-target=".navbar-collapse.in" ng-repeat="SubCat in item.DAH_SubCategories" href="products?ID={{SubCat.ID}}">{{SubCat.SubCategory}}</a>
                </li>
            </ul>
            x`
        </div>
    </div>
</div>


