<div ng-controller="HeaderController" class="navbar-inverse">
    <div class="navbar-collapse collapse" ng-repeat="item in Categories">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#" data-toggle="collapse" data-target="#SubCategories-{{item.id}}">
                    {{item.categoty}} <span class="fa fa-caret-right"></span>
                </a>
            </li>
        </ul>
        <div id="SubCategories-{{item.id}}" class="collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" ng-repeat="SubCat in item.subcategories">{{SubCat.subcategory1}}</a>
                </li>
            </ul>

        </div>
    </div>
</div>


