<div ng-controller="ForgotPasswordController" class="col-md-6 col-lg-offset-3">
    <form name="forgotPasswordForm" novalidate>
        <div class="form-group center-block">
            <input type="email" ng-required="true" ng-class="{submitted:submitted}" name="email" ng-model="email" class="form-control" />
            <span class="field-validation-error pull-left" ng-show="submitted && forgotPasswordForm.email.$error.required">Required</span>
            <span class="field-validation-error" ng-show="submitted && forgotPasswordForm.email.$error.email">Invalid email</span>
        </div>
        <div class="form-group center-block">
            <button type="submit" class="btn-success center-block form-control" ng-click="btnSubmitClick()">Submit</button>
        </div>
    </form>
    <div class="alert alert-success" ng-show="resetEmailSent">
        <i class="fa fa-check-square fa-2x"></i>
        We sent password reset instructions to your email.
    </div>
</div>
