<!--<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,
      initial-scale=1" />
    <link href="../Content/Less/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/Less/App/login.min.css" rel="stylesheet" />
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/Less/App/app.min.css" rel="stylesheet" />
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/App/app.js"></script>
    <script src="../scripts/jquery-1.9.1.min.js"></script>
    <script src="../scripts/App/Controllers/orders.js"></script>
    <title></title>
    <meta charset="utf-8" />
</head>
<body ng-app="dahApp" ng-controller="ordersController">

    <div ng-include="'/Views/Shared/header.html'">

    </div>-->
<div class="container" ng-controller="ordersController">
    <h3>Orders</h3>
    <table class="table-bordered">
        <tbody>
            <tr ng-repeat="d in data">
                <td>{{d}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="../scripts/App/Controllers/orders.js" type="text/javascript"></script>
<!--</body>
</html>-->
