<div ng-controller="ProductsController">

    <div class="row">
        <div class="col-md-3" ng-repeat="p in products">
            <div class="card fa-border">
                <img class="card-img-top" src="..." alt="{{p.Product}}">
                <h4 class="card-title">{{p.Product}}</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><label>Price: </label>${{p.Cost}}</li>
                    <li class="list-group-item"><button class="btn btn-success">Add to cart <i class="fa fa-cart-plus"></i></button></li>                    
                </ul>
            </div>
        </div>
    </div>
    <div ng-repeat="p in products">
        
    </div>
</div>
