<div ng-controller="ResetPasswordController" class="col-md-6 col-lg-offset-3">
    <form name="ResetPasswordForm" ng-class="{loading:loading}" novalidate> 
        <div class="form-group center-block">
            <input type="password" ng-required="true" placeholder="New Password" ng-class="{submitted:submitted}" ng-pattern="pwdRegx" name="password" ng-model="password" class="form-control" />
            <span class="pull-left field-validation-error" ng-show="submitted && ResetPasswordForm.password.$error.required">Required</span>
            <span class="pull-left field-validation-error" ng-show="submitted && ResetPasswordForm.password.$error.pattern">Password must be combination of alphabets and numbers.</span>
            <span class="pull-left field-validation-error" ng-show="submitted && ResetPasswordForm.password.$error.minlength">Password must be atlease 6 characters.</span>
         </div>
        <div class="form-group center-block">
            <input type="password" ng-required="true" placeholder="Confirm New Password" ng-class="{submitted:submitted}" name="confirmPassword" ng-model="confirmPassword" class="form-control" />
            <span class="pull-left field-validation-error" ng-show="submitted && ResetPasswordForm.confirmPassword.$error.required">Required</span>
            <span class="pull-left field-validation-error" ng-show="submitted && confirmPassword!=password">New Passwords dont match</span>
        </div>

        <div class="form-group center-block">
            <button type="submit" class="btn-success center-block form-control" ng-click="btnResetPasswordClick()">Submit <i class="fa fa-spinner fa-spin" ng-show="loading"></i></button>
        </div>
    </form>
    <div class="alert alert-success" ng-show="pwdResetSuccess">
        Your password has been changed successfully. Please click <a href="Login">here</a> to login.
    </div>
    <div class="alert alert-danger" ng-show="pwdResetFailed">
         {{pwdResetErrorMsg}}
    </div>
</div>
