<div ng-controller="ResetPasswordController" class="col-md-6 col-lg-offset-3">
    <form name="ResetPasswordForm" novalidate>
        <div class="form-group center-block">
            <input type="password" ng-required="true" placeholder="New Password" ng-class="{submitted:submitted}" ng-pattern="pwdRegx" name="newPassword" ng-model="password" class="form-control" />
            <span class="field-validation-error pull-left " ng-show="submitted && ResetPasswordForm.newPassword.$field-validation-error.required">Required</span>
            <span class="pull-left field-validation-field-validation-error" ng-show="submitted && registerForm.newPassword.$field-validation-error.pattern">Password must be combination of alphabets and numbers.</span>
            <span class="pull-left field-validation-field-validation-error" ng-show="submitted && registerForm.newPassword.$field-validation-error.minlength">Password must be atlease 6 characters.</span>
         </div>
        <div class="form-group center-block">
            <input type="password" ng-required="true" placeholder="Confirm New Password" ng-class="{submitted:submitted}" name="confirmNewPassword" ng-model="confirmPassword" class="form-control" />
            <span class="field-validation-error pull-left " ng-show="submitted && ResetPasswordForm.confirmNewPassword.$field-validation-error.required">Required</span>
            <span class="field-validation-error pull-left " ng-show="submitted && password!=confirmpassword">New Passwords dont match</span>
        </div>

        <div class="form-group center-block">
            <button type="submit" class="btn-success center-block form-control" ng-click="btnResetPasswordClick()">Submit</button>
        </div>
    </form>
    <div class="alert alert-success" ng-show="pwdResetSuccess">
        Your password has been changed successfully. Please click <a href="Login">here</a> to login.
    </div>
    <div class="alert alert-success" ng-show="pwdResetFailed">
         {{pwdResetErrorMsg}}
    </div>
</div>
