<div class="col-md-12 col-xs-12" style="padding:10px">
    <!--<div class="col-md-2 col-xs-4" style="padding-right:0">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{searchBy}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="left:0">
                <li *ngFor="let cat of categories"><a (click)="onSearchByClick(cat.Category)">{{cat.Category}}</a></li>
            </ul>
        </div>
    </div>-->
    <div class="col-md-12 col-xs-12" >
        <input class="form-control" placeholder="&#xf002; Search" id="searchInout" [(ngModel)]="searchInput" (keyup)="searchProducts()" (blur)="toggleSearchResult()" (focus)="toggleSearchResult()" />
        
        <div *ngIf="products && products.length && showResult" class="text-left search-result col-md-6 col-xs-6">
            <ul class="list-unstyled">
                <li *ngFor="let p of products">
                    <a [routerLink]="['product-details']" style="display:block">{{p.Product}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
