
<input class="form-control" placeholder="&#xf002; Search" id="searchInout" [(ngModel)]="searchInput" (keyup)="searchProducts()" (blur)="toggleSearchResult()" (focus)="toggleSearchResult()" style="margin-top:5px" />

<div *ngIf="showResult && products && products.length>0" class="col-md-9 col-xs-9 text-left search-result panel-success">
    <ul class="list-unstyled">
        <li *ngFor="let p of products">
            <a [routerLink]="['product-details']">{{p.Product}}</a>
        </li>
    </ul>
</div>

<div class="input-group hidden">
    <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchInput" (keyup)="searchProducts()" (blur)="toggleSearchResult()">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search fa-2x"></i></button>
    </span>
</div><!-- /input-group -->