.search-result {
  padding: 0;
  position: fixed;
  z-index: 1;
  border: solid 1px #e6fff2;
}
.search-result ul li {
  background-color: #fff;
}
.search-result ul li a {
  padding: 5px 10px;
  color: #222;
}
.search-result ul li a:hover {
  text-decoration: none;
  background-color: aquamarine;
  font-weight: bold;
}
input {
  font-family: 'FontAwesome';
  border-radius: 8px;
}
/*.search-result{
padding:0; position: fixed; z-index: 1;
}
.search-result ul li{
background-color:#fff; padding:15px; border-bottom:dotted 1px lightgray
}
input{
border-radius:8px;
}
.wrapper input[type="text"] {
    position: relative; 
}

input { font-family: 'FontAwesome'; }

.wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f002";
}
    */