
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-block text-center">
                        <hr />
                        <ul class="list-unstyled list-inline" *ngIf="shippingAddress && !showShippingForm">                          
                            <li>
                                <h4 class="text-center text-info">
                                   Ship to
                                </h4>                              
                            </li>
                            <li class="v-align-middle">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>{{shippingAddress.StreetAddress}}</li>
                                        <li>{{shippingAddress.City+'  '+shippingAddress.State+' '+shippingAddress.Zip+'  '}}</li>
                                        <li>{{shippingAddress.Country}}</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <button class="btn btn-sm btn-warning" (click)="shippingEditClick()">Edit</button>
                            </li>

                            <ng-container *ngIf="showShippingForm">
                                <li>
                                    <form #addressForm="ngForm">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="StreetAddress" [(ngModel)]="shippingAddress.StreetAddress" placeholder="Street Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="State" [(ngModel)]="shippingAddress.State" placeholder="State">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="City" [(ngModel)]="shippingAddress.City" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Zip" [(ngModel)]="shippingAddress.Zip" placeholder="Zip">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Country" [(ngModel)]="shippingAddress.Country" placeholder="Country">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" (click)="saveAddress(shippingAddress)" class="btn btn-sm btn-success">Save this {{shippingAddress.AddressType}} address</button>
                                            <button class="btn btn-warning btn-sm" (click)="shippingEditClick()">Cancel</button>
                                        </div>
                                    </form>
                                </li>
                            </ng-container>
                        </ul>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>