
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel-body">
            <h3 class="text-center text-primary">
                Address
            </h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-block text-center">
                        <ul class="list-unstyled" *ngFor="let a of address let i=index">
                            <li><hr /></li>
                            <li>
                                <h4 class="text-center text-info">
                                    {{a.AddressType}}
                                </h4>
                            </li>
                            <ng-container *ngIf="!showBillingForm[i]">
                                <li>{{a.StreetAddress}}</li>
                                <li>{{a.City+'  '+a.State+' '+a.Zip+'  '}}</li>
                                <li>{{a.Country}}</li>
                                <li><button class="btn btn-sm btn-warning" (click)="billingEdit(i)">Edit</button></li>
                            </ng-container>
                            <ng-container *ngIf="showBillingForm[i]">
                                <li>
                                    <form *ngIf="showBillingForm" #addressForm="ngForm">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="StreetAddress" [(ngModel)]="a.StreetAddress" placeholder="Street Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="State" [(ngModel)]="a.State" placeholder="State">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="City" [(ngModel)]="a.City" placeholder="City">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Zip" [(ngModel)]="a.Zip" placeholder="Zip">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Country" [(ngModel)]="a.Country" placeholder="Country">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                                            <button class="btn btn-warning btn-sm" (click)="billingEdit(i)">Cancel</button>
                                        </div>
                                    </form>
                                </li>
                            </ng-container>
                            <li>
                                <hr />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>