
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel">
            <div class="panel-heading text-center text-info">
                <h3>Shipping and Payment</h3>
            </div>
            <hr />
            <table class="table">
                <tr>
                    <td class="text-info v-align-middle">
                        Shipping
                    </td>
                    <td>
                        <div>
                            <form [formGroup]="shippingForm" *ngIf="showShippingForm">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="streetAddress" name="streetAddress" placeholder="Street Address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="state" name="state" placeholder="State">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="city" name="city" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="zip" name="zip" placeholder="Zip">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="country" name="country" placeholder="Country">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success">Save</button>
                                    <button class="btn btn-sm btn-warning" type="button" (click)="shippingEditClick()">Cancel</button>
                                </div>
                            </form>
                            <ul class="list-unstyled" [class.hidden]="showShippingForm" *ngIf="shippingAddress">
                                <li>{{shippingAddress.StreetAddress}}</li>
                                <li>{{shippingAddress.City+'  '+shippingAddress.State+' '+shippingAddress.Zip+'  '}}</li>
                                <li>{{shippingAddress.Country}}</li>
                            </ul>
                        </div>
                    </td>
                    <td class="v-align-middle" [class.hidden]="showShippingForm">
                        <button class="btn btn-sm btn-warning" (click)="shippingEditClick()">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-info v-align-middle">
                        Billing
                    </td>
                    <td>
                        <div [class.hidden]="showBillingForm" *ngIf="billingAddress">
                            <ul class="list-unstyled">
                                <li>{{billingAddress.StreetAddress}}</li>
                                <li>{{billingAddress.City+'  '+billingAddress.State+' '+billingAddress.Zip+'  '}}</li>
                                <li>{{billingAddress.Country}}</li>
                            </ul>

                            <ul class="list-unstyled">
                                <li>
                                    {{paymentInfo.NameOnCard}}
                                </li>
                                <li>
                                    {{paymentInfo.PaymentType}}: <i class="fa fa-cc-{{paymentInfo.PaymentType | lowercase}} fa-2x text-info v-align-middle" aria-hidden="true"></i>
                                </li>
                                <li>
                                    <label>Card#: </label> XXXX-XXXX-XXX-{{paymentInfo.CardNumber.slice(-4)}}
                                </li>
                                <li><label>Expiration: </label>{{paymentInfo.ExpirationMonth}}/{{paymentInfo.ExpirationYear}}</li>
                            </ul>
                        </div>

                        <div *ngIf="showBillingForm" [class.hidden]="!showBillingForm">
                            <form [formGroup]="billingForm">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="streetAddress" placeholder="Street Address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="state" placeholder="State">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="city" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="zip" placeholder="Zip">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="country" placeholder="Country">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="nameOnCard" placeholder="Country">
                                </div>
                                <div class="form-group">

                                    <input type="number" class="form-control" formControlName="cardNumber" (keyup)="getCardType(billingForm.controls['cardNumber'].value)" placeholder="Card Number">
                                    <i class="fa fa-cc-visa fa-2x" [ngClass]="{'text-info':cardType=='visa','text-default':cardType!='visa'}"></i>
                                    <i class="fa fa-cc-mastercard fa-2x" [class.text-info]="cardType=='mastercard'"></i>
                                    <i class="fa fa-cc-discover fa-2x text-info" [class.text-info]="cardType=='discover'" [ngClass]="{'text-info':cardType=='discover','text-default':cardType!='discover'}"></i>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select class="form-control" formControlName="expirationMonth">
                                                <option *ngFor="let m of months" [value]="m.val">{{m.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" formControlName="expirationYear">
                                                <option *ngFor="let y of years" [value]="y">{{y}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" formControlName="cvcCode">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success">Save</button>
                                    <button class="btn btn-sm btn-warning" type="button" (click)="billingEditClick()">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td class="v-align-middle">
                        <button [class.hidden]="showBillingForm" class="btn btn-sm btn-warning" (click)="billingEditClick()">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>